/* Styling for navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 3.4rem;
}

.nav-links li {
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    position: relative;
}

.logo {
    width: 7rem;
    padding-top: 0.6rem;
}

/* Nav links animation */
.nav-links li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 8px;
    left: 0px;
    bottom: -6px;
    border-radius: 0.4rem;
    background-color: black;
    transition: width 0.4s ease-in-out;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* Hamburger menu */
.toggle-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 5px;
    border-radius: 0.8rem;
    background-color: black;
}



/* Media queries */
@media (max-width: 1500px) {
    .nav {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (max-width: 760px) {
    .toggle-btn {
        display: flex;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .logo.active {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 2rem; 
    }
    .nav-links li {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .logo {
        width: 5rem;
    }
}